* {
  box-sizing: border-box;
  font-family: sans-serif;
}
header {
  position: fixed;
  height: 19rem;
  background-color: #4F97B4;
  width: 99%;
  color: white;
  margin: 0;
  top: 0;
  left: 0;
}
header h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-top: 4rem;
  margin-left: 10rem;
  width: 70%;
}
header h2 {
  font-size: 2rem;
  font-weight: normal;
  font-style: oblique;
  margin-left: 10rem;
  width: 30%;
}
header nav {
  background-color: #EBEBEB;
  width: 100%;
  position: absolute;
}
header nav ul {
  display: flex;
  flex-direction: row;
  margin-left: 7rem;
  text-align: center;
  align-items: center;
}
header nav ul li {
  font-weight: bold;
  flex-direction: row;
  display: block;
  color: white;
  padding: 10px 10px;

}
blockquote{
  color: #6EB7D2;
  font-size: 1.5rem;
}
.link-seperator {
  border-right-style: solid;
  border-right-color: #3A3A3A;
}
.navlink {
  color: #3A3A3A;
}
main {
  margin-top: 25em;
  margin-left: 10rem;
  margin-right: 10em;
  margin-bottom: 10rem;
}
//*section {
  margin-top: 7rem;
  overflow: auto;
}*/

body {
  background-color: #EBEBEB;
}
.content-box {
  float: left;
  width: 70%;
  margin-right: 5em;
}
footer {
  height: 20rem;
  background-color: #3A3A3A;
}
h3.one {
  color: #4C97B5;
  margin-top: 0;
}
.sidebar {
  overflow: hidden;
}

.sidebar a {
  color: #6EB7D2;
}
mark {
  color: #6EB7D2;
  background: none;
}
.cow {
  padding-top: 2rem;
}
.pfooter {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 99%;
  height: 18em;
  background-color: #3A3A3A;
}
.pfooter p {
  width: 400px;
  color: white;
  margin: 1.5rem;
}
.pfooter section {
  font-size: .9rem;
}
.pfooter li {
  list-style: none;
}
.pfooter ul {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footerlink {
  border-right-style: solid;
  border-right-color: white;
  padding-right: 1rem;
  margin-right: 1rem;
}
.footerlink1 {
  color: white;
}
